* {
  cursor: none;
  background-color: #333;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* .cursor-dot {
  width: 15px;
  height: 15px;
  background-color: rgb(77, 181, 255);
}

.cursor-dot-outline {
  width: 15px;
  height: 15px;
  background-color: rgba(77, 181, 255, 0.5);
} */

.links-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}